<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/css/style1.css">
<title>Pagina de perfil: Cliente</title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="cliente">Logo</a>
    </div>
    <div class="opciones">
      <div class="botonOpciones" id="config-perfil">
        <a href="config">Config.</a>
      </div>
      <div class="botonOpciones" id="eliminar-perfil">
        <a href="eliminar">Eliminar Usuario</a>
      </div>
    </div>
    <div class="cont-perfil">
      <div class="cont-c">
         <div class="cont-usuario"> 
          <div id="nick"><%= user.usuario %></div>
          <a href="logout">Desconectar</a>
         </div>
      </div>
    </div>
  </header>
  <section>
      <div id="cont-form-config">
          
      </div>
      <div class="cont-multimedia">
      </div>
      <div class="cont-multimedia">
      </div>
      <div class="cont-multimedia">
      </div>
      <div class="cont-multimedia">
      </div>
      
  </section>
  <footer>
      <div>
      
           <p>Hecho por Jose Faria Correo: josefariakike95@gmail.com telf: 0424-6375424</p>
         
      </div>
  </footer>
</body>
</html>

